{% extends 'back.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Ajouter Evénement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">Afficher la liste des Evénements</a>
{% endblock %}
