{% extends 'back.html.twig' %}

{% block title %}New Journe{% endblock %}

{% block body %}
    <h1>Create new Journe</h1>

    {{ include('journe/_form.html.twig') }}

    <a href="{{ path('app_journe_index') }}">back to list</a>
{% endblock %}
